body {
    background-image: url("http://www.kantarmedia.com/us/-/media/images/content/srds/tier%20%202/newspaper_tn.ashx?h=411&w=770&hash=88A36E7B66AF9E08E9B6BCDC86A1B22A485757ED");
    background-size: 100%;
}

#jumbo {
    background-color: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
};
